<h1>Inscription.</h1>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <section formGroupName="credentials">
        <h3>Utilisateur : </h3>
        <div>
            <label for="name">Nom d'utilisateur : </label>
            <input type="text" name="name" formControlName="name">
        </div>
        <div>
            <label for="mail">Adresse mail : </label>
            <input type="mail" name="mail" formControlName="mail">
        </div>
        <div>
            <label for="password">Mot de passe : </label>
            <input type="password" name="password" formControlName="password">
        </div>
    </section>
    <section formGroupName="address">
        <h3>Adresse : </h3>
        <div>
            <label for="street">Nom de la rue : </label>
            <input type="text" name="street" formControlName="street">
        </div>
        <div>
            <label for="city">Ville : </label>
            <input type="text" name="city" formControlName="city">
        </div>
        <div>
            <label for="zipCode">Code postale : </label>
            <input type="text" name="zipCode" formControlName="zipCode">
        </div>
    </section>
    <div>
        <input type="submit" value="S'inscrire" [disabled]="!userForm.valid">
    </div>
</form>
<h2>Utilisateurs inscris : </h2>
<ul>
    <li *ngFor="let user of users">utilisateur : {{user.name}} joignable à {{user.mail}} et habitant au {{user.address.street}} {{user.address.zipCode}} {{user.address.city}}.</li>
</ul>
