section {
    background-color: rgb(150, 150, 150);
    border: 1px solid white;
    padding: 0px 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.kitten-display {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}